<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.media.mapper.CommentMapper">

    <resultMap type="Comment" id="CommentResult">
        <result property="commentId"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="movieId"    column="movie_id"    />
        <result property="movieTitle"    column="movie_title"    />
        <result property="parentCommentId"    column="parent_comment_id"    />
        <result property="parentCommentUserId"    column="parent_comment_user_id"    />
        <result property="replyCommentId"    column="reply_comment_id"    />
        <result property="replyCommentUserId"    column="reply_comment_user_id"    />
        <result property="commentLevel"    column="comment_level"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="likes"    column="likes"    />
        <result property="top"    column="top"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCommentVo">
        select comment_id, user_id, user_name, movie_id, movie_title, parent_comment_id, parent_comment_user_id, reply_comment_id, reply_comment_user_id, comment_level, content, status, likes, top, create_time, update_time from wm_comment
    </sql>

    <select id="selectCommentList" parameterType="Comment" resultMap="CommentResult">
        <include refid="selectCommentVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="movieId != null  and movieId != ''"> and movie_id = #{movieId}</if>
            <if test="movieTitle != null  and movieTitle != ''"> and movie_title = #{movieTitle}</if>
            <if test="parentCommentId != null  and parentCommentId != ''"> and parent_comment_id = #{parentCommentId}</if>
            <if test="parentCommentUserId != null  and parentCommentUserId != ''"> and parent_comment_user_id = #{parentCommentUserId}</if>
            <if test="replyCommentId != null  and replyCommentId != ''"> and reply_comment_id = #{replyCommentId}</if>
            <if test="replyCommentUserId != null  and replyCommentUserId != ''"> and reply_comment_user_id = #{replyCommentUserId}</if>
            <if test="commentLevel != null "> and comment_level = #{commentLevel}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="likes != null "> and likes = #{likes}</if>
            <if test="top != null "> and top = #{top}</if>
        </where>
    </select>
</mapper>
