<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.media.mapper.MovieMapper">

    <resultMap type="MovieVO" id="MovieResult">
        <result property="movieId"    column="movie_id"    />
        <result property="images"    column="images"    />
        <result property="title"    column="title"    />
        <result property="type"    column="type"    />
        <result property="country"    column="country"    />
        <result property="label"    column="label"    />
        <result property="description"    column="description"    />
        <result property="publishBy"    column="publish_by"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="readCount"    column="read_count"    />
        <result property="commentCount"    column="comment_count"    />
        <result property="followCount"    column="follow_count"    />
        <result property="collectionCount"    column="collection_count"    />
        <result property="likesCount"    column="likes_count"    />
        <result property="unlikesCount"    column="unlikes_count"    />
        <result property="shareCount"    column="share_count"    />
        <result property="isComment"    column="is_comment"    />
        <result property="isDownload"    column="is_download"    />
        <result property="price"    column="price"    />
        <result property="rate"    column="rate"    />
        <result property="publishUsername"    column="publishUsername"    />
    </resultMap>


    <sql id="selectMovieVo">
        select m.movie_id, m.images, m.title, m.type, m.country, m.label, m.description, m.publish_by, m.publish_time,
        m.status, m.create_by, m.create_time, m.update_by, m.update_time, m.del_flag, m.remark,
        m.is_comment, m.is_download, m.price, m.rate,u.nick_name as publishUsername
        from wm_movie m
        left join sys_user u on m.publish_by = u.user_name
    </sql>


    <select id="selectHotMovieList" parameterType="Integer" resultMap="MovieResult">
        <include refid="selectMovieVo"/>
        order by m.create_time desc limit #{top}
    </select>

    <select id="selectMovieList" parameterType="MovieVO" resultMap="MovieResult">
        <include refid="selectMovieVo"/>
        <where>
            <if test="images != null  and images != ''"> and m.images = #{images}</if>
            <if test="title != null  and title != ''"> and m.title = #{title}</if>
            <if test="type != null  and type != ''"> and m.type = #{type}</if>
            <if test="country != null  and country != ''"> and m.country = #{country}</if>
            <if test="label != null  and label != ''"> and m.label = #{label}</if>
            <if test="description != null  and description != ''"> and m.description = #{description}</if>
            <if test="publishBy != null  and publishBy != ''"> and m.publish_by = #{publishBy}</if>
            <if test="publishTime != null "> and m.publish_time = #{publishTime}</if>
            <if test="status != null  and status != ''"> and m.status = #{status}</if>
            <if test="readCount != null "> and m.read_count = #{readCount}</if>
            <if test="commentCount != null "> and m.comment_count = #{commentCount}</if>
            <if test="followCount != null "> and m.follow_count = #{followCount}</if>
            <if test="collectionCount != null "> and m.collection_count = #{collectionCount}</if>
            <if test="likesCount != null "> and m.likes_count = #{likesCount}</if>
            <if test="unlikesCount != null "> and m.unlikes_count = #{unlikesCount}</if>
            <if test="shareCount != null "> and m.share_count = #{shareCount}</if>
            <if test="isComment != null  and isComment != ''"> and m.is_comment = #{isComment}</if>
            <if test="isDownload != null  and isDownload != ''"> and m.is_download = #{isDownload}</if>
            <if test="price != null "> and m.price = #{price}</if>
            <if test="rate != null "> and m.rate = #{rate}</if>
        </where>
    </select>
</mapper>
