<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.media.mapper.MovieMapper">

    <resultMap type="MovieVO" id="MovieResult">
        <result property="movieId"    column="movie_id"    />
        <result property="images"    column="images"    />
        <result property="title"    column="title"    />
        <result property="type"    column="type"    />
        <result property="country"    column="country"    />
        <result property="tagId"   column="tag_id" />
        <result property="description"    column="description"    />
        <result property="publishBy"    column="publish_by"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="clickCount"    column="click_count"    />
        <result property="commentCount"    column="comment_count"    />
        <result property="followCount"    column="follow_count"    />
        <result property="collectionCount"    column="collection_count"    />
        <result property="supportCount"    column="support_count"    />
        <result property="opposeCount"    column="oppose_count"    />
        <result property="shareCount"    column="share_count"    />
        <result property="openComment"    column="open_comment"    />
        <result property="openDownload"    column="open_download"    />
        <result property="price"    column="price"    />
        <result property="rate"    column="rate"    />
        <result property="publishUsername"    column="publishUsername"    />
        <result property="categoryId"   column="category_id"    />
        <result property="categoryName"   column="category_name"  />
        <result property="qrcodePath"   column="qrcode_path" />
        <result property="openPassword"   column="open_password" />
        <result property="password"   column="password" />
    </resultMap>


    <sql id="selectMovieVo">
        select m.movie_id, m.images, m.title, m.type, m.country, m.tag_id, m.description, m.publish_by, m.publish_time,
        m.status, m.create_by, m.create_time, m.update_by, m.update_time, m.del_flag, m.remark,
        m.open_comment, m.open_download, m.price, m.rate,
        m.category_id,m.category_name,m.qrcode_path,m.open_password,m.password,
        u.nick_name as publishUsername
        from wm_movie m
        left join sys_user u on m.publish_by = u.user_name
    </sql>


    <select id="selectHotMovieList" parameterType="Integer" resultMap="MovieResult">
        <include refid="selectMovieVo"/>
        order by m.create_time desc limit #{top}
    </select>

    <select id="getListByActorId" parameterType="Long" resultMap="MovieResult">
       select m.movie_id, m.images, m.title, m.type, m.country, m.tag_id, m.description, m.publish_by, m.publish_time,
        m.status, m.create_by, m.create_time, m.update_by, m.update_time, m.del_flag, m.remark,
        m.open_comment, m.open_download, m.price, m.rate,
        m.category_id,m.category_name,m.qrcode_path,m.open_password,m.password
        from wm_movie m, wm_movie_actor ma
        where m.movie_id = ma.movie_id and ma.actor_id = #{actorId}
        order by m.create_time desc
    </select>



    <select id="selectMovieList" parameterType="MovieVO" resultMap="MovieResult">
        <include refid="selectMovieVo"/>
        <where>
            <if test="title != null  and title != ''"> and m.title like concat('%', #{title}, '%')</if>
            <if test="type != null  and type != ''"> and m.type = #{type}</if>
            <if test="country != null  and country != ''"> and m.country = #{country}</if>
            <if test="tagId != null  and tagId != ''">
               and FIND_IN_SET(#{tagId},tag_id)
            </if>
            <if test="description != null  and description != ''"> and m.description like concat('%', #{description}, '%')</if>
            <if test="publishBy != null  and publishBy != ''"> and m.publish_by = #{publishBy}</if>
            <if test="publishTime != null "> and m.publish_time = #{publishTime}</if>
            <if test="status != null  and status != ''"> and m.status = #{status}</if>
            <if test="openComment != null  and openComment != ''"> and m.open_comment = #{openComment}</if>
            <if test="openDownload != null  and openDownload != ''"> and m.open_download = #{openDownload}</if>
            <if test="price != null "> and m.price = #{price}</if>
            <if test="rate != null "> and m.rate = #{rate}</if>
            <if test="categoryId != null "> and m.category_id = #{categoryId}</if>
            <if test="categoryName != null "> and m.category_name like concat('%', #{categoryName}, '%')</if>
            <if test="qrcodePath != null "> and m.qrcode_path = #{qrcodePath}</if>
            <if test="openPassword != null "> and m.open_password = #{openPassword}</if>
            <if test="password != null "> and m.password = #{password}</if>
            <if test="tagIdList != null and tagIdList.size() > 0 ">
                <foreach item="tagId" collection="tagIdList" open="and (" separator="or" close=")">
                    FIND_IN_SET(#{tagId},tag_id)
                </foreach>
            </if>
        </where>
    </select>
</mapper>
