.movie-top {
  margin-top: 100px;
  width: 100%;
  height: 380px;
  margin-bottom: 80px;
  background: url(../images/top-bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
}
.movie-top .movie-banner {
  width: 1200px;
  height: 376px;
  margin: 0 auto;
  position: relative;
}
.movie-top .movie-banner .movie-img {
  position: absolute;
  top: 70px;
  width: 240px;
  height: 330px;
  background-color: #ffffff;
  padding: 5px;
}
.movie-top .movie-banner .movie-img img {
  width: 100%;
  height: 100%;
}
.movie-top .movie-banner .movie-data {
  position: absolute;
  top: 70px;
  left: 240px;
  color: #ffffff;
  position: relative;
}
.movie-top .movie-banner .movie-data .movie-name {
  width: 300px;
  height: 200px;
  padding-left: 30px;
}
.movie-top .movie-banner .movie-data .movie-name .name {
  font-weight: 600;
  font-size: 26px;
}
.movie-top .movie-banner .movie-data .movie-name .othername {
  margin-bottom: 10px;
  font-size: 16px;
}
.movie-top .movie-banner .movie-data .movie-name .kind {
  margin-bottom: 8px;
}
.movie-top .movie-banner .movie-data .movie-name .area {
  margin-bottom: 8px;
}
.movie-top .movie-banner .movie-data .movie-btn {
  width: 300px;
  margin: -70px 0px 0 20px;
}
.movie-top .movie-banner .movie-data .movie-btn p {
  margin: 10px 0;
}
.movie-top .movie-banner .movie-data .movie-btn p span {
  font-size: 12px;
  color: white !important;
}
.movie-top .movie-banner .movie-data .movie-btn p span:nth-of-type(1) {
  display: inline-block;
  width: 55px;
  height: 25px;
  border: 1px solid white;
  text-align: center;
  line-height: 25px;
}
.movie-top .movie-banner .movie-data .map {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 150px;
  width: 200px;
  height: 200px;
  margin-left: 300px;
}
.mian .contents {
  margin: 80px auto;
  width: 1200px;
}
.mian .contents .list_movie {
  width: 100%;
  padding: 20px;
  height: 240px;
  background: #e0e0e0;
  margin-bottom: 0;
  position: relative;
}
.mian .contents .list_movie ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.mian .contents .list_movie ul li {
  display: inline-block;
  width: 120px;
  height: 160px;
  box-sizing: border-box;
  padding: 4px;
  background-color: #ffffff;
}
.mian .contents .list_movie ul li img {
  width: 110px;
}
.mian .contents .list_movie ul .activeimg {
  display: inline-block;
  border: 2px solid red;
  transform: scale(1.2);
  height: 158px;
}
.mian .contents .list_movie ul .activeimg img {
  width: 100%;
}
.mian .contents .list_movie .contor img {
  width: 40px;
}
.mian .contents .list_movie .contor .previ {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 50px;
  top: 95px;
  left: 0;
}
.mian .contents .list_movie .contor .next {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 50px;
  top: 95px;
  right: 0;
}
.mian .contents .list_movie::before {
  content: "";
  width: 2px;
  height: 0;
  display: inline-block;
  position: absolute;
  left: 68px;
  margin-left: -5px;
  bottom: -1px;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: none;
}
.mian .contents .nowmovie {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 0;
  border-bottom: 1px solid #dfdfdf;
}
.mian .contents .nowmovie .pf h3 {
  margin: 20px 0;
  font-weight: 600;
  display: inline-block;
}
.mian .contents .nowmovie .pf p {
  display: inline-block;
  margin-left: 15px;
  letter-spacing: 1px;
}
.mian .contents .nowmovie .pf p span {
  color: #efb400;
}
.mian .contents .nowmovie .pf p span:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}
.mian .contents .nowmovie .xq {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
.mian .contents .nowmovie .xq div span {
  font-size: 12px;
}
.mian .contents .nowmovie .xq div span:nth-child(1) {
  color: #999999;
}
.mian .contents .date_list ul {
  height: 80px;
  box-sizing: border-box;
  padding: 27.5px 0;
}
.mian .contents .date_list ul li {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  height: 25px;
  padding: 0 10px;
  line-height: 25px;
}
.mian .contents .date_list ul li:nth-child(1) {
  font-size: 14px;
  color: #9e9e9e;
  margin: 0;
  padding: 0;
}
.mian .contents .date_list .activeli {
  color: #ffffff;
  background-color: #e62828 !important;
  border-radius: 100px;
}
.mian .contents .session {
  width: 100%;
}
.mian .contents .session ul li {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 90px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.mian .contents .session ul li:nth-child(1) span {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.mian .contents .session ul li:nth-child(odd) {
  background-color: rgba(238, 238, 238, 0.658);
}
.mian .contents .session ul li span {
  display: block;
  width: 100px;
  text-align: center;
}
.mian .contents .session ul li span:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}
.mian .contents .session ul li span:nth-child(4) {
  font-size: 16px;
  font-weight: 600;
  color: #e62828;
}
.mian .contents .session ul li .btn {
  display: block;
  margin-top: 5px;
  margin-right: 5px;
  width: 90px;
  height: 30px;
  background-color: #e62828;
  color: white;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 0 5px #e62828;
  font-size: 14px;
}
.mian .contents .session ul li .btn:hover {
  background-color: #c01212;
  color: white;
}
