body {
  background-color: #ffffff;
}
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 1200px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  background-color: #ffffff;
}
header .header-body {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  position: relative;
}
header .header-body .logo {
  display: block;
  width: 133px;
  height: 80px;
  color: rgba(0, 0, 0, 0);
  background: url(../images/header-bg.png) no-repeat center center;
}
header .header-body .city {
  display: inline-block;
  width: 60px;
  height: 80px;
  line-height: 80px;
  color: #000000;
  font-size: 16px;
  margin-left: 10px;
  box-sizing: border-box;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
header .header-body .city .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.5s ease;
}
header .header-body .city:hover {
  height: 81px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  z-index: 999;
  background-color: #ffffff;
}
header .header-body .city:hover .caret {
  transition: all 0.5s ease;
  border-top: none;
  border-bottom: 6px solid #666;
}
header .header-body .city:hover + .city-list {
  display: block;
}
header .header-body .city-list {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  position: absolute;
  display: none;
  top: 80px;
  left: 143px;
}
header .header-body .city-list .now-city {
  padding-left: 10px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #cfcfcf;
}
header .header-body .city-list:hover {
  display: block;
}
header .header-body .citys {
  text-align: center;
  line-height: 180px;
}
header .header-body .citys .icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../images/lost.png) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
}
header .header-body .nav {
  width: 490px;
  height: 80px;
  margin-left: 10px;
}
header .header-body .nav .nav-list {
  display: flex;
  justify-content: space-between;
}
header .header-body .nav .nav-list .nav-model {
  display: block;
  width: 70px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  text-align: center;
}
header .header-body .nav .nav-list .nav-model:hover {
  color: #ef4238;
}
header .header-body .nav .nav-list .active {
  background-color: #ef4238;
  color: #ffffff !important;
}
header .header-body .app-download {
  width: 142px;
  height: 90px;
  line-height: 80px;
  font-size: 18px;
}
header .header-body .app-download a {
  display: block;
  width: 142px;
  height: 80px;
  position: relative;
  border-left: 1px solid  transparent;
  border-right: 1px solid  transparent;
}
header .header-body .app-download a .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.5s ease;
}
header .header-body .app-download a .phone {
  display: inline-block;
  width: 46px;
  height: 80px;
  background: url(../images/phone.png) no-repeat center center;
  vertical-align: middle;
}
header .header-body .app-download a .appcode {
  width: 142px;
  height: 166px;
  padding-top: 20px;
  margin-left: -1px;
  margin-top: -2px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #ffffff;
  display: none;
}
header .header-body .app-download a .appcode .app-code {
  display: block;
  margin: 0 auto;
}
header .header-body .app-download a .appcode .down-tip {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
header .header-body .app-download a .appcode .down-text {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
header .header-body .app-download a:hover {
  background-color: #ffffff;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}
header .header-body .app-download a:hover .appcode {
  display: block;
}
header .header-body .app-download a:hover .caret {
  transition: all 0.5s ease;
  border-top: none;
  border-bottom: 6px solid #666;
}
header .header-body .search {
  width: 220px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}
header .header-body .search .searchinput {
  position: relative;
}
header .header-body .search .searchinput .input {
  display: inline-block;
  height: 40px;
  line-height: 1.2;
  width: 220px;
  padding: 0 40px 0 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 30px;
  background-color: #faf8fa;
  overflow: hidden;
  color: #333;
}
header .header-body .search .searchinput .submit {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 180px;
  top: 0;
  background-color: #ef4238;
  border-radius: 30px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMA+Y/XljcvKwbekR/z5MoeDAq7vWFffapXAAAAlElEQVQ4y+3S3QrDIAwFYBNNf6y1uu28/6sOcdDdaITdrNBzpfCBSYy5c5HMbIkszwpbHD5xueseIC8piSc8lw502Kd6mna4Tn1ExVVJ1K6T4c+LBzehhZwXgW1CwvLVGGgMJoSfntab0cejD1z5QpachQlAPIaWAsB6KGsWyprFKvVsa5HbqIxmUAYzJGN4mTv/nje3wQeTZXOUBwAAAABJRU5ErkJggg==);
  cursor: pointer;
}
header .header-body .userimg {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #000000;
  font-size: 16px;
  margin-left: 10px;
  box-sizing: border-box;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
header .header-body .userimg .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid #666;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: all 0.5s ease;
}
header .header-body .userimg:hover {
  height: 81px;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  z-index: 999;
  background-color: #ffffff;
}
header .header-body .userimg:hover .caret {
  transition: all 0.5s ease;
  border-top: none;
  border-bottom: 6px solid #666;
}
header .header-body .userimg:hover + .userlogin {
  display: block;
}
header .header-body .userimg img {
  margin: 0 10px;
}
header .header-body .userlogin {
  width: 80px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background-color: #ffffff;
  position: absolute;
  display: none;
  top: 80px;
  right: 25px;
  border: 1px solid #d8d8d8;
}
header .header-body .userlogin:hover {
  display: block;
}
header .header-body .userlogin .nologin {
  display: none;
}
header .header-body .userlogin .islogin {
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
}
header .header-body .userlogin .islogin a {
  display: block;
}
header .header-body .userlogin .islogin a:nth-of-type(1) {
  color: #ef4238;
}
header .header-body .userlogin .islogin a:nth-of-type(1):hover {
  text-decoration: underline;
}
.wrap {
  position: relative;
  width: 100%;
  height: 520px;
  margin: 100px auto;
}
.wrap .content {
  position: absolute;
  width: 1200px;
  height: 360px;
}
.wrap .content li {
  position: absolute;
  background-size: 100% 100%;
  cursor: pointer;
}
.wrap a {
  position: absolute;
  display: none;
  z-index: 2;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  font: 36px/60px "宋体";
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #ff6400;
  transition: background 1s ease;
}
.wrap a:hover {
  background: #ff6400;
}
.wrap .prev {
  left: 30px;
}
.wrap .next {
  right: 30px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.container .main {
  width: 800px;
}
.container .main .hot-movie {
  width: 750px;
}
.container .main .hot-movie h2 {
  color: #EF4238;
  font-size: 26px;
  margin-bottom: 20px;
}
.container .main .movie-box {
  margin-top: 80px;
  width: 750px;
}
.container .main .movie-box .movie-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #2D98F5;
  font-size: 16px;
}
.container .main .movie-box .movie-header a {
  margin-top: 20px;
  color: #2D98F5;
  font-size: 16px;
}
.container .main .movie-box .movie-header a:hover {
  text-decoration: underline;
}
.container .main .movie-box .hotmovie {
  color: #ef4238;
}
.container .main .movie-box .hotmovie a {
  color: #ef4238;
}
.container .main .movie-box .movies .movies-model {
  height: 264px;
  margin-bottom: 50px;
}
.container .main .movie-box .movies .movies-model button {
  width: 48% ;
  font-size: 14px ;
  color: #bebebe;
}
.container .main .movie-box .movies .movies-model .buynow {
  width: 100%;
}
.container .main .movie-box .movies .movies-model p {
  font-size: 14px;
  color: #ffb400;
  background-color: #fbfbfb;
  text-align: left;
  padding-left: 10px;
  background-color: #ffffff;
}
.container .main .movie-box .movies .movies-model p:nth-of-type(2) {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #bebebe;
  padding: 0;
  background-color: #ffffff;
}
.container .main .movies {
  width: 750px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .main .movies .movies-model {
  width: 160px;
  height: 244px;
  border: 1px solid #efefef;
}
.container .main .movies .movies-model img {
  width: 100%;
}
.container .main .movies .movies-model a {
  width: 0;
}
.container .main .movies .movies-model button {
  width: 158px;
  height: 30px;
  font-size: 18px;
  border: none;
  background-color: #fff;
  color: #EF4238;
  outline: none;
}
.container .main .movies .movies-model button:hover {
  border: 1px solid #bebebe;
}
.container .main .movies .movies-model:hover {
  box-shadow: 0 0 5px 5px #efefef;
}
.container .aside {
  width: 360px;
}
.container .aside .rank {
  width: 100%;
}
.container .aside .rank h2 {
  color: #EF4238;
  font-size: 26px;
}
.container .aside .rank .ranklist {
  width: 100%;
  background-color: #ffffff;
}
.container .aside .rank .ranklist .ranks {
  margin: 24px 0 0 0;
}
.container .aside .rank .ranklist .ranks .rangk-item-first {
  width: 100%;
  height: 80px;
  padding: 0 !important;
  border: 1px solid #efefef;
}
.container .aside .rank .ranklist .ranks .rangk-item-first .first-item {
  float: left;
  width: 120px;
  height: 80px;
  margin-right: 10px;
}
.container .aside .rank .ranklist .ranks .rangk-item-first .name {
  display: inline-block;
  width: 200px;
  font-size: 18px;
  margin-top: 20px;
  line-height: 30px;
}
.container .aside .rank .ranklist .ranks .rangk-item-first .money {
  font-size: 14px;
  color: #ef4238;
}
.container .aside .rank .ranklist .ranks .rangk-item-first:hover {
  background-color: #f7f7f7;
}
.container .aside .rank .ranklist .ranks .rank-item {
  width: 100%;
  padding: 10px 0;
}
.container .aside .rank .ranklist .ranks .rank-item a {
  display: block;
  width: 100%;
  height: 55px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .aside .rank .ranklist .ranks .rank-item a .index-box {
  display: inline-block;
}
.container .aside .rank .ranklist .ranks .rank-item a .index-box .index {
  display: inline-block;
  font-size: 18px;
  width: 20px;
  color: #999999;
}
.container .aside .rank .ranklist .ranks .rank-item a .index-box span {
  font-size: 16px;
}
.container .aside .rank .ranklist .ranks .rank-item a .index-box .index-hot {
  color: #ef4238;
}
.container .aside .rank .ranklist .ranks .rank-item a .index-money {
  color: #ef4238;
}
.container .aside .rank .ranklist .ranks .rank-item a:hover {
  background-color: #f7f7f7;
}
.container .aside .aside-total {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.container .aside .aside-total .total-nav {
  width: 40px;
  padding: 10px;
  background-color: #ef4238;
  color: #ffffff;
}
.container .aside .aside-total .total-body {
  width: 350px;
  height: 128px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.container .aside .aside-total .total-body h2 {
  display: inline;
  font-size: 30px;
  color: #ef4238;
}
.container .aside .aside-total .total-body h2 span {
  font-size: 12px;
  margin-left: -6px;
}
.container .aside .aside-total .total-body .more {
  color: #ef4238;
}
.container .aside .aside-total .total-body .time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #999999;
}
.container .aside .hope {
  margin-top: 80px;
}
.container .aside .hope h2 {
  display: flex;
  justify-content: space-between;
  color: #ffb400;
  font-size: 26px;
  margin-bottom: 20px;
}
.container .aside .hope h2 span {
  font-size: 16px;
  line-height: 35px;
}
.container .aside .hope .hope-list .hope-item-top1 {
  border: 1px solid #efefef;
  margin-bottom: 20px;
}
.container .aside .hope .hope-list .hope-item-top1 .hope-img {
  display: inline-block;
}
.container .aside .hope .hope-list .hope-item-top1 .hope-text {
  display: inline-block;
  vertical-align: middle;
}
.container .aside .hope .hope-list .hope-item-top1 .hope-text .hope-time {
  font-size: 16px;
  color: #999999;
  line-height: 30px;
  height: 30px;
}
.container .aside .hope .hope-list .hope-item-top1:hover {
  background-color: #f7f7f7;
}
.container .aside .hope .hope-list .hope-name {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
}
.container .aside .hope .hope-list .hope-num {
  font-size: 12px;
  color: #ffb400;
  line-height: 30px;
}
.container .aside .hope .hope-list .hope-item-top {
  width: 170px;
  display: inline-block;
  border: 1px solid #efefef;
}
.container .aside .hope .hope-list .hope-item-top:hover {
  background-color: #f7f7f7;
}
.container .aside .hope .hope-list .left {
  margin-left: 14px;
}
.container .aside .hope .hope-list .hope-item {
  width: 100%;
  padding: 10px 0;
}
.container .aside .hope .hope-list .hope-item a {
  display: block;
  width: 100%;
  height: 55px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .aside .hope .hope-list .hope-item a .index-box {
  display: inline-block;
}
.container .aside .hope .hope-list .hope-item a .index-box .index {
  display: inline-block;
  font-size: 18px;
  width: 20px;
  color: #999999;
}
.container .aside .hope .hope-list .hope-item a .index-box span {
  font-size: 16px;
}
.container .aside .hope .hope-list .hope-item a .index-money {
  color: #ef4238;
}
.container .aside .hope .hope-list .hope-item a:hover {
  background-color: #f7f7f7;
}
.container .aside .top {
  margin-top: 80px;
}
.container .aside .top h2 {
  display: flex;
  justify-content: space-between;
  color: #ffb400;
  font-size: 26px;
  margin-bottom: 20px;
}
.container .aside .top h2 span {
  font-size: 16px;
  line-height: 35px;
}
.container .aside .top .toplist {
  width: 100%;
  background-color: #ffffff;
}
.container .aside .top .toplist .topone {
  margin: 24px 0 0 0;
}
.container .aside .top .toplist .topone .top-item-first {
  width: 100%;
  height: 80px;
  padding: 0 !important;
  border: 1px solid #efefef;
}
.container .aside .top .toplist .topone .top-item-first .first-item {
  float: left;
  width: 120px;
  height: 80px;
  margin-right: 10px;
}
.container .aside .top .toplist .topone .top-item-first .name {
  display: inline-block;
  width: 200px;
  font-size: 18px;
  margin-top: 20px;
  line-height: 30px;
}
.container .aside .top .toplist .topone .top-item-first .money {
  font-size: 14px;
  color: #ffb400;
}
.container .aside .top .toplist .topone .top-item-first:hover {
  background-color: #f7f7f7;
}
.container .aside .top .toplist .topone .top-item {
  width: 100%;
  padding: 10px 0;
}
.container .aside .top .toplist .topone .top-item a {
  display: block;
  width: 100%;
  height: 55px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .aside .top .toplist .topone .top-item a .index-box {
  display: inline-block;
}
.container .aside .top .toplist .topone .top-item a .index-box .index {
  display: inline-block;
  font-size: 18px;
  width: 20px;
  color: #999999;
}
.container .aside .top .toplist .topone .top-item a .index-box span {
  font-size: 16px;
}
.container .aside .top .toplist .topone .top-item a .index-box .index-hot {
  color: #ffb400;
}
.container .aside .top .toplist .topone .top-item a .index-money {
  color: #ffb400;
}
.container .aside .top .toplist .topone .top-item a:hover {
  background-color: #f7f7f7;
}
.container .aside .people {
  width: 100%;
  margin-top: 80px;
}
.container .aside .people h2 {
  color: #EF4238;
  font-size: 26px;
}
.container .aside .people .peoplelist {
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
}
.container .aside .people .peoplelist .peoples {
  margin: 24px 0 0 0;
}
.container .aside .people .peoplelist .peoples .people-item-first {
  width: 100%;
  height: 80px;
  padding: 0 !important;
  border: 1px solid #efefef;
}
.container .aside .people .peoplelist .peoples .people-item-first .first-item {
  float: left;
  width: 120px;
  height: 80px;
  margin-right: 10px;
}
.container .aside .people .peoplelist .peoples .people-item-first .name {
  display: inline-block;
  width: 200px;
  margin-top: 20px;
  line-height: 30px;
}
.container .aside .people .peoplelist .peoples .people-item-first:hover a {
  color: #EF4238;
}
.container .aside .people .peoplelist .peoples .people-item {
  width: 100%;
  padding: 10px 0;
}
.container .aside .people .peoplelist .peoples .people-item a {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .aside .people .peoplelist .peoples .people-item a .index-box {
  display: inline-block;
}
.container .aside .people .peoplelist .peoples .people-item a .index-box .index {
  display: inline-block;
  font-size: 18px;
  width: 20px;
  color: #999999;
}
.container .aside .people .peoplelist .peoples .people-item a .index-box .index-hot {
  color: #ef4238;
}
.container .aside .people .peoplelist .peoples .people-item a:hover {
  color: #EF4238;
}
.container .aside .hotspot {
  width: 100%;
  margin-top: 80px;
}
.container .aside .hotspot h2 {
  color: #EF4238;
  font-size: 26px;
}
.container .aside .hotspot .hotspotlist {
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
}
.container .aside .hotspot .hotspotlist .hotspots {
  margin: 24px 0 0 0;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item-first {
  width: 100%;
  height: 80px;
  padding: 0 !important;
  border: 1px solid #efefef;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item-first .first-item {
  float: left;
  width: 120px;
  height: 80px;
  margin-right: 10px;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item-first .name {
  display: inline-block;
  width: 200px;
  line-height: 30px;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item-first:hover a {
  color: #EF4238;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item {
  width: 100%;
  padding: 10px 0;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item a {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item a .index-box {
  display: inline-block;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item a .index-box .index {
  display: inline-block;
  font-size: 18px;
  width: 20px;
  color: #999999;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item a .index-box .index-hot {
  color: #ef4238;
}
.container .aside .hotspot .hotspotlist .hotspots .hotspot-item a:hover {
  color: #EF4238;
}
.footer {
  background-color: #262426;
  padding: 56px 0;
  margin: 0 auto;
  min-width: 1200px;
  margin-top: 82px;
}
.footer p {
  text-align: center;
  color: #ffffff;
}
.footer p a:hover {
  text-decoration: underline;
}
.footer .friendly-links a {
  color: #EF4238;
}
.footer .credentials a {
  color: #ffffff;
}
.footer .certificate {
  padding-left: 40%;
}
.border {
  width: 100%;
  margin-top: -1px;
  border: 1px solid #eee;
  margin-bottom: 40px;
}
.intro {
  font-size: 18px;
  margin-bottom: 40px;
  display: flex;
}
.intro::before {
  content: '';
  display: block;
  float: left;
  width: 4px;
  height: 20px;
  background-color: #ef4238;
  margin-top: 2px;
  margin-right: 5px;
}
.intro .intro-text {
  width: 730px;
  display: flex;
  justify-content: space-between;
}
.intro .intro-text span a {
  font-size: 14px;
  color: #999999;
}
.intro .intro-text span a:hover {
  text-decoration: underline;
}
/* 响应式 */
@media screen and (max-width: 1000px) {
  header {
    width: 100% !important;
    min-width: 0px !important;
  }
  header .header-body {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
  }
  header .header-body .city {
    display: none !important;
  }
  header .header-body .search {
    display: none;
  }
  header .header-body .userlogin {
    right: 13px;
  }
  .wrap {
    display: none !important;
  }
  .container {
    width: 100% !important;
    margin-top: 100px !important;
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .container .main {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .container .aside {
    width: 100% !important;
    padding: 0 4rem;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top {
    width: 48%;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top .hope-img {
    display: inline-block;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top p {
    display: inline-block;
    width: 30%;
  }
  .footer {
    width: 100% !important;
    min-width: 0px !important;
  }
  .footer p {
    width: 100% !important;
  }
}
@media screen and (max-width: 560px) {
  header {
    width: 100% !important;
    min-width: 0px !important;
  }
  header .header-body {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
  }
  header .header-body .city {
    display: none !important;
  }
  header .header-body .nav {
    display: none !important;
  }
  header .header-body .search {
    display: none;
  }
  header .header-body .userlogin {
    right: 20px;
  }
  .wrap {
    display: none !important;
  }
  .container {
    width: 100% !important;
    margin-top: 100px !important;
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .container .main {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .container .main .hot-movie {
    width: 100%;
  }
  .container .main .hot-movie .movies {
    width: 100%;
  }
  .container .main .movie-box {
    width: 100%;
  }
  .container .main .movie-box .movies {
    width: 100%;
  }
  .container .aside {
    width: 100% !important;
    padding: 0 !important;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top {
    width: 45%;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top p {
    display: block;
    width: 100%;
  }
  .footer {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  header {
    width: 100% !important;
    min-width: 0px !important;
  }
  header .header-body {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
  }
  header .header-body .city {
    display: none !important;
  }
  header .header-body .nav {
    display: none !important;
  }
  header .header-body .search {
    display: none;
  }
  header .header-body .app-download {
    width: 20% !important;
  }
  header .header-body .app-download a .phone {
    display: none;
  }
  header .header-body .userimg img {
    width: 50%;
  }
  header .header-body .userlogin {
    right: 20px;
  }
  .wrap {
    display: none !important;
  }
  .container {
    width: 100% !important;
    margin-top: 100px !important;
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .container .main {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .container .main .hot-movie {
    width: 100%;
  }
  .container .main .hot-movie h2 {
    font-size: 1rem !important;
  }
  .container .main .hot-movie .movies {
    width: 100%;
    margin: 0 auto;
  }
  .container .main .hot-movie .movies .movies-model {
    width: 70% !important;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .container .main .hot-movie .movies .movies-model .btn {
    width: 100%;
    font-size: 1rem !important;
  }
  .container .main .movie-box {
    width: 100%;
  }
  .container .main .movie-box .movie-header h2 {
    font-size: 1rem !important;
  }
  .container .main .movie-box .movie-header span {
    font-size: 1rem !important;
  }
  .container .main .movie-box .movies {
    width: 100%;
  }
  .container .main .movie-box .movies .movies-model {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .container .main .movie-box .movies .movies-model p {
    text-align: center;
    font-size: 1.2rem !important;
  }
  .container .main .movie-box .movies .movies-model button {
    width: 49%;
    font-size: 1rem !important;
  }
  .container .aside {
    width: 100% !important;
    padding: 0 4rem;
    font-size: 1rem !important;
  }
  .container .aside .rank h2 {
    font-size: 1rem !important;
  }
  .container .aside .rank .ranklist .ranks .rangk-item-first .name {
    font-size: 1rem !important;
    width: 40%;
  }
  .container .aside .aside-total .total-nav {
    padding-top: 1rem;
    font-size: 1rem !important;
  }
  .container .aside .aside-total .total-body {
    height: auto !important;
  }
  .container .aside .aside-total .total-body .more {
    font-size: 0.5rem !important;
  }
  .container .aside .aside-total .total-body .time {
    font-size: 0.5rem !important;
  }
  .container .aside .hope h2 {
    font-size: 1rem !important;
  }
  .container .aside .hope h2 span {
    font-size: 0.5rem !important;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top {
    width: 100%;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top .hope-img {
    display: inline-block;
  }
  .container .aside .hope .hope-body .hope-list .hope-item-top p {
    display: inline-block;
    width: 30%;
    font-size: 0.5rem !important;
  }
  .container .aside .hope .hope-body .hope-list .left {
    margin: 10px 0 !important;
  }
  .container .aside .top h2 {
    font-size: 1rem !important;
  }
  .container .aside .top h2 span {
    font-size: 0.5rem !important;
  }
  .container .aside .top .toplist .top-item-first {
    margin-bottom: 2rem;
  }
  .container .aside .top .toplist .top-item-first .name {
    margin: 0 !important;
    font-size: 0.5rem !important;
  }
  .container .aside .people h2 {
    font-size: 1rem !important;
  }
  .container .aside .people .peoplelist {
    margin-top: 2rem !important;
  }
  .container .aside .people .peoplelist .peoples .people-item-first .name {
    width: 30% !important;
  }
  .container .aside .hotspot h2 {
    font-size: 1rem !important;
  }
  .container .aside .hotspot .hotspotlist .hotspots .hotspot-item-first img {
    width: 90%;
  }
  .container .aside .hotspot .hotspotlist .hotspots .hotspot-item-first .name {
    width: 40%;
  }
  .footer {
    width: 100% !important;
    min-width: 0px !important;
  }
  .footer p {
    width: 100% !important;
  }
}
