.movie-top {
    margin-top: 100px;
    width: 100%;
    height: 380px;
    margin-bottom: 80px;
    background: url(../images/top-bg.png) no-repeat center center;
    background-size: cover;
    display: flex;
}

.movie-top .movie-banner {
    width: 1200px;
    height: 376px;
    margin: 0 auto;
    position: relative;
}

.movie-top .movie-banner .movie-img {
    position: absolute;
    top: 70px;
    width: 240px;
    height: 330px;
    background-color: #ffffff;
    padding: 5px;
}

.movie-top .movie-banner .movie-img img {
    width: 100%;
    height: 100%;
}

.movie-top .movie-banner .movie-data {
    position: absolute;
    top: 70px;
    left: 240px;
    color: #ffffff;
}

.movie-top .movie-banner .movie-data .movie-name {
    width: 300px;
    height: 200px;
    padding-left: 30px;
}

.movie-top .movie-banner .movie-data .movie-name .name {
    font-weight: 600;
    font-size: 26px;
}

.movie-top .movie-banner .movie-data .movie-name .othername {
    margin-bottom: 10px;
    font-size: 16px;
}

.movie-top .movie-banner .movie-data .movie-name .kind {
    margin-bottom: 8px;
}

.movie-top .movie-banner .movie-data .movie-name .area {
    margin-bottom: 8px;
}

.movie-top .movie-banner .movie-data .movie-btn {
    width: 250px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.movie-top .movie-banner .movie-data .movie-btn a {
    display: inline-block;
    width: 120px;
    height: 36px;
    color: #ffffff;
    background: #756189;
    text-align: center;
    line-height: 36px;
}

.movie-top .movie-banner .movie-data .movie-btn a i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 19px;
    height: 19px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MDc1OTZBMzUzQzIzMTFFNkI5NzY4NjMyQkI3QTVCMDAiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MDc1OTZBMzQzQzIzMTFFNkI5NzY4NjMyQkI3QTVCMDAiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozOTE3NDFCODM3NjcxMUU2QUY0Q0YzNTlBNkE3Q0U3MiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozOTE3NDFCOTM3NjcxMUU2QUY0Q0YzNTlBNkE3Q0U3MiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ptb+IwoAAAC3SURBVHjaYvz//z8DJYAJiZ0CxMeB+BMQvwbi5UCsCcUg9huo3HGoWggAuQCIF//HDn5BMTawGOx6IJH2n3yQxggkrgMdokFmENwEGfADyGAn04C/TNCAIRd8ABmwmQIDNoACUQyIX5ERgCA9YrBoVALiyyRovgzVA08HIMwJxJuJ0LwZqpYB3QAY7sejuR9dPTYDQDgbi+ZsbGpxGQDC7kia3XGpYySQG/Og9CRcChgpzc4AAQYAYXrq/jrniJEAAAAASUVORK5CYII=) no-repeat 1px 2px;
}

.movie-top .movie-banner .movie-data .movie-btn a:nth-of-type(2) i {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 19px;
    height: 19px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MDc1OTZBM0QzQzIzMTFFNkI5NzY4NjMyQkI3QTVCMDAiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MDc1OTZBM0MzQzIzMTFFNkI5NzY4NjMyQkI3QTVCMDAiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4QzQ3QTgzOTM3NjgxMUU2QUY0Q0YzNTlBNkE3Q0U3MiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4QzQ3QTgzQTM3NjgxMUU2QUY0Q0YzNTlBNkE3Q0U3MiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pi0cMmgAAADqSURBVHjaYvz//z8DHtAExAJAnIdLASMeA3iB+BOULQfEj7EpYsJjey8SuwunKpALsOCQ/5ggBJtadAEJIG75jxsUATEbsh5QGLgDHeIDxGZArAfEHAz4wTMg3g/EZ4F4N8iAY0CGJQN54CDIGXpAfPE/6eA5EHvB/CIKxG9J0PwRiBXQAzGRBANikQMR5h9mIH4DTXn4wAsglsSWkP4C8TUiAu4ovpTIQoQBv3AZwAPEWkQYoIjLRnaoISCwG4hXAPEZIOaCppNUINYEYnVcBnyEZqDPQDwTGlgwcAKI9wJxFRDfRzYAIMAAYsNIs6fSEWgAAAAASUVORK5CYII=) no-repeat;
}

.movie-top .movie-banner .movie-data .watching {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 360px;
    top: 140px;
    padding-left: 20px;
}

.movie-top .movie-banner .movie-data .watching .name {
    height: 30px;
    line-height: 30px;
}

.movie-top .movie-banner .movie-data .watching .wantnum {
    font-size: 24px;
    color: #FFC600;
    height: 40px;
    line-height: 40px;
}

.movie-top .movie-banner .movie-data .watching .money {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.movie-top .movie-banner .movie-data .watching .num {
    font-size: 24px;
    height: 30px;
    line-height: 30px;
}

.movie-top .movie-banner .movie-data .watching .num span {
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container .main {
    width: 730px;
}

.container .main .nav {
    margin-bottom: 20px;
}

.container .main .nav a {
    font-size: 16px;
}

.container .main .tab-contral {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.container .main .tab-contral .tab {
    display: inline-block;
    font-size: 18px;
    height: 36px;
    cursor: pointer;
}

.container .main .tab-contral .active {
    color: #ef4238;
    border-bottom: 2px solid #ef4238;
}

.container .main .referral p {
    margin-top: 20px;
    width: 710px;
    font-size: 14px;
}

.container .main .actor {
    margin-top: 40px;
    margin-bottom: 60px;
}

.container .main .actor .director {
    display: inline-block;
    width: 128px;
}

.container .main .actor .director p {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .main .actor .director .director-img p {
    text-align: center;
}

.container .main .actor .starts {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.container .main .actor .starts p {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .main .actor .starts .start {
    display: inline-block;
}

.container .main .actor .starts .start p {
    text-align: center;
    margin: 0;
}

.container .main .actor .starts .start p:nth-of-type(2) {
    font-size: 14px;
    color: #666666;
}

.container .main .awards .awards-body {
    width: 730px;
    margin-bottom: 60px;
}

.container .main .awards .awards-body li:nth-of-type(1) {
    border-bottom: 1px dashed #999999;
    margin-bottom: 40px;
}

.container .main .awards .awards-body .awards-model {
    font-size: 16px;
}

.container .main .awards .awards-body .awards-model .awards-img {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin: 15px 20px 15px 0;
}

.container .main .awards .awards-body .awards-model .awards-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.container .main .images {
    width: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.container .main .images .images-aside {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .main .images .images-aside img {
    width: 126px;
}

.container .main .comment {
    margin-bottom: 80px;
}

.container .main .comment .intro .intro-text span a {
    cursor: pointer;
    display: block;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid #ef4238;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #ef4238;
}

.container .main .comment .intro .intro-text span a:hover {
    text-decoration: none;
}

.container .main .comment .comment-body {
    width: 730px;
    margin-bottom: 60px;
}

.container .main .comment .comment-body .comment-model {
    font-size: 16px;
    display: flex;
}

.container .main .comment .comment-body .comment-model .comment-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin: 15px 0;
}

.container .main .comment .comment-body .comment-model .comment-text {
    width: 600px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
    color: #666;
    line-height: 26px;
    font-size: 14px;
}

.container .main .comment .comment-body .comment-model .comment-text .comment-main {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.container .main .comment .comment-body .comment-model .comment-text .comment-main .username {
    font-size: 16px;
}

.container .main .comment .comment-body .comment-model .comment-text .comment-main .username .tag {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #7cc6f9;
    border-radius: 2px;
    color: #7cc6f9;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.container .main .comment .comment-body .comment-model .comment-text .comment-main div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .main .comment .comment-body .comment-model .comment-text .comment-main div .comment-time {
    width: 100px;
}

.container .main .comment .comment-body .comment-model .comment-text .comment-main div .comment-level {
    display: inline-block;
    width: 200px;
    height: 16px;
    vertical-align: text-top;
    background: url(../images/xingxing.png) no-repeat;
}

.container .main .comment .comment-body .comment-model .comment-text .comment-main div a i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAA70lEQVQ4y6XPvUoDURDF8d/GVVD8KlRICm23Tq+diC8haGchdtr5AtZWPoK+hXVK4VoJ2ijigopiMCQ2N7CGXUnYU907c85/ZhIlCiHANE5wig4OcJ9l2R9vQ7U2sI8FbGK7zPQfoI1WfE9hbSxAXH8GO5iN5QHeJtmgjd3C/wuPZca0ZPocDtEstH7isFYIYTi0hzyJocVYfMceLjBfAPSR4zv+E3ziMsVyDMAZjkfCw1NXSi44SrGErVhYrTBWqdmYwFym17qAh7qAuzqALjp1AM+4GQUMxgz3cI3bFB8IsZHjBesVwT6ecIVzdH8BMa00dXqIgwUAAAAASUVORK5CYII=);
}

.container .main .movie-deta {
    margin-bottom: 80px;
}

.container .main .movie-deta .deta-body {
    display: flex;
    flex-wrap: wrap;
}

.container .main .movie-deta .deta-body .deta-model {
    width: 365px;
    height: 93px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    padding: 20px 0px 20px 27px;
}

.container .main .movie-deta .deta-body .deta-model .model-top span {
    margin-left: 5px;
    font-size: 18px;
    color: #333;
}

.container .main .movie-deta .deta-body .deta-model .model-bottom {
    font-size: 16px;
    color: #666;
    padding: 0 25px;
    margin-top: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container .main .honor {
    margin-bottom: 60px;
}

.container .main .honor .honor-body {
    width: 730px;
    height: 130px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .main .honor .honor-body .body-model {
    font-size: 26px;
    color: #f03d37;
    text-align: center;
}

.container .main .honor .honor-body .body-model p:nth-last-of-type(1) {
    color: #666666;
    margin-top: 5px;
    font-size: 20px;
}

.container .main .honor .honor-body .center p:nth-of-type(1) {
    color: #faaf00;
}

.container .main .honor .honor-body .right p {
    color: #333;
}

.container .main .honor .honor-body .right p:nth-last-of-type(1) {
    text-align: left;
}

.container .main .music {
    margin-bottom: 60px;
}

.container .main .music .music-body .music-model {
    width: 300px;
}

.container .main .music .music-body .music-model .text {
    padding: 0px 0px 0px 20px;
    display: inline-block;
    vertical-align: middle;
}

.container .main .music .music-body .music-model .text p {
    font-size: 26px;
    color: #333;
    line-height: 37px;
}

.container .main .music .music-body .music-model .text p:nth-last-of-type(1) {
    font-size: 20px;
    line-height: 28px;
    color: #999;
}

.container .aside .trailer {
    margin-bottom: 60px;
}

.container .aside .trailer .tab-contral {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.container .aside .trailer .tab-contral .tab {
    display: inline-block;
    font-size: 18px;
    height: 36px;
    cursor: pointer;
}

.container .aside .trailer .tab-contral .active {
    color: #ef4238;
    border-bottom: 2px solid #ef4238;
}

.container .aside .trailer .trailer-video {
    width: 100%;
}

.container .aside .trailer .trailer-video video {
    width: 100%;
}

.container .aside .other-movie .othermovie-model {
    width: 106px;
    text-align: center;
}

.container .aside .other-movie .othermovie-model a p {
    height: 30px;
    line-height: 30px;
}

.container .aside .other-movie .othermovie-model i {
    color: #ffb400;
}