<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.CommentMapper">

    <resultMap type="Comment" id="CommentResult">
        <result property="commentId"    column="comment_id"    />
        <result property="sid"    column="sid"    />
        <result property="userId"    column="user_id"    />
        <result property="parentCommentId"    column="parent_comment_id"    />
        <result property="qq"    column="qq"    />
        <result property="nickname"    column="nickname"    />
        <result property="avatar"    column="avatar"    />
        <result property="email"    column="email"    />
        <result property="url"    column="url"    />
        <result property="status"    column="status"    />
        <result property="ip"    column="ip"    />
        <result property="lng"    column="lng"    />
        <result property="lat"    column="lat"    />
        <result property="address"    column="address"    />
        <result property="os"    column="os"    />
        <result property="osShortName"    column="os_short_name"    />
        <result property="browser"    column="browser"    />
        <result property="browserShortName"    column="browser_short_name"    />
        <result property="content"    column="content"    />
        <result property="remark"    column="remark"    />
        <result property="support"    column="support"    />
        <result property="oppose"    column="oppose"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tableName"    column="table_name"    />
        <association property="user" javaType="SysUser">
            <result property="userId" jdbcType="BIGINT" column="u_user_id"/>
            <result property="userName" jdbcType="VARCHAR" column="u_user_name"/>
            <result property="nickName" jdbcType="VARCHAR" column="u_nick_name"/>
            <result property="avatar" jdbcType="VARCHAR" column="u_avatar"/>
        </association>

    </resultMap>

    <sql id="selectCommentVo">
        select comment_id, sid, user_id, parent_comment_id, qq, nickname, avatar, email, url, status, ip, lng, lat, address, os, os_short_name, browser, browser_short_name, content, remark, support, oppose, create_time, update_time, table_name from website_comment
    </sql>

    <select id="selectCommentList" parameterType="Comment" resultMap="CommentResult">
        SELECT
        t.*,
        u.user_id AS u_user_id,
        u.user_name AS u_user_name,
        u.nick_name AS u_nick_name,
        u.avatar AS u_avatar
        FROM
        website_comment t
        LEFT JOIN sys_user u ON u.user_id = t.user_id
        <where>
            <if test="sid != null "> and sid = #{sid}</if>
            <if test="commentId != null "> and comment_id = #{commentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="parentCommentId != null "> and parent_comment_id = #{parentCommentId}</if>
            <if test="qq != null  and qq != ''"> and qq = #{qq}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="ip != null  and ip != ''"> and ip = #{ip}</if>
            <if test="lng != null  and lng != ''"> and lng = #{lng}</if>
            <if test="lat != null  and lat != ''"> and lat = #{lat}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="os != null  and os != ''"> and os = #{os}</if>
            <if test="osShortName != null  and osShortName != ''"> and os_short_name like concat('%', #{osShortName}, '%')</if>
            <if test="browser != null  and browser != ''"> and browser = #{browser}</if>
            <if test="browserShortName != null  and browserShortName != ''"> and browser_short_name like concat('%', #{browserShortName}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="support != null "> and support = #{support}</if>
            <if test="oppose != null "> and oppose = #{oppose}</if>
            <if test="tableName != null  and tableName != ''"> and table_name = #{tableName}</if>
        </where>
    </select>

    <select id="selectCommentByParentId" parameterType="Long" resultMap="CommentResult">
      SELECT
			t.*
		FROM
			website_comment t
        where t.parent_comment_id  = #{commentId}
    </select>

    <select id="selectCommentById" parameterType="Long" resultMap="CommentResult">
      SELECT
			t.*
		FROM
			website_comment t
        where t.comment_id = #{commentId}
    </select>


    <delete id="deleteCommentById" parameterType="Long">
        delete from website_comment where comment_id = #{commentId}
    </delete>

    <delete id="deleteCommentByIds" parameterType="String">
        delete from website_comment where comment_id in
        <foreach item="commentId" collection="array" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </delete>
</mapper>
