<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.website.mapper.CreditsFlowMapper">
    
    <resultMap type="CreditsFlow" id="CreditsFlowResult">
        <result property="creditsId"    column="credits_id"    />
        <result property="creditsCode"    column="credits_code"    />
        <result property="userId"    column="user_id"    />
        <result property="accountId"    column="account_id"    />
        <result property="account"    column="account"    />
        <result property="preAccount"    column="pre_account"    />
        <result property="postAcount"    column="post_acount"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="creditsType"    column="credits_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="creditsDesc"    column="credits_desc"    />
    </resultMap>

    <sql id="selectCreditsFlowVo">
        select credits_id, credits_code, user_id, account_id, account, pre_account, post_acount, remark, status, credits_type, create_time, update_time, del_flag, credits_desc from website_credits_flow
    </sql>

    <select id="selectCreditsFlowList" parameterType="CreditsFlow" resultMap="CreditsFlowResult">
        <include refid="selectCreditsFlowVo"/>
        <where>  
            <if test="creditsCode != null  and creditsCode != ''"> and credits_code like concat('%', #{creditsCode}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="creditsType != null  and creditsType != ''"> and credits_type = #{creditsType}</if>
        </where>
    </select>
    
    <select id="selectCreditsFlowByCreditsId" parameterType="Long" resultMap="CreditsFlowResult">
        <include refid="selectCreditsFlowVo"/>
        where credits_id = #{creditsId}
    </select>
        
    <insert id="insertCreditsFlow" parameterType="CreditsFlow">
        insert into website_credits_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creditsId != null">credits_id,</if>
            <if test="creditsCode != null">credits_code,</if>
            <if test="userId != null">user_id,</if>
            <if test="accountId != null">account_id,</if>
            <if test="account != null">account,</if>
            <if test="preAccount != null">pre_account,</if>
            <if test="postAcount != null">post_acount,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="creditsType != null">credits_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="creditsDesc != null">credits_desc,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="creditsId != null">#{creditsId},</if>
            <if test="creditsCode != null">#{creditsCode},</if>
            <if test="userId != null">#{userId},</if>
            <if test="accountId != null">#{accountId},</if>
            <if test="account != null">#{account},</if>
            <if test="preAccount != null">#{preAccount},</if>
            <if test="postAcount != null">#{postAcount},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="creditsType != null">#{creditsType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="creditsDesc != null">#{creditsDesc},</if>
         </trim>
    </insert>

    <update id="updateCreditsFlow" parameterType="CreditsFlow">
        update website_credits_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="creditsCode != null">credits_code = #{creditsCode},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="account != null">account = #{account},</if>
            <if test="preAccount != null">pre_account = #{preAccount},</if>
            <if test="postAcount != null">post_acount = #{postAcount},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="creditsType != null">credits_type = #{creditsType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="creditsDesc != null">credits_desc = #{creditsDesc},</if>
        </trim>
        where credits_id = #{creditsId}
    </update>

    <delete id="deleteCreditsFlowByCreditsId" parameterType="Long">
        delete from website_credits_flow where credits_id = #{creditsId}
    </delete>

    <delete id="deleteCreditsFlowByCreditsIds" parameterType="String">
        delete from website_credits_flow where credits_id in 
        <foreach item="creditsId" collection="array" open="(" separator="," close=")">
            #{creditsId}
        </foreach>
    </delete>
</mapper>